* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
}
body {
  background: linear-gradient(to right, #3cc4fecd, #af62d2d8);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.calculator-grid {
  display: grid;
  grid-template-columns: repeat(4, minmax(8rem, 12rem));
  grid-template-rows: minmax(14rem, auto) repeat(5, minmax(8rem, 12rem));
}
@media (max-width: 470px) {
  .calculator-grid {
    height: 100vh;

    grid-template-rows: minmax(14rem, auto) repeat(5, minmax(8rem, 14rem));
  }
}
.span-two {
  grid-column: span 2;
}
.output {
  grid-column: 1/-1;
  background-color: rgba(0, 0, 0, 0.75);

  text-align: right;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-end;
  word-break: break-all;
  word-wrap: break-word;
  padding: 1.2rem;
}
button {
  font-size: 2.4rem;
  font-weight: 500;
  cursor: pointer;
  outline: none;
  border: 1px solid white;
  background-color: rgba(255, 255, 255, 0.75);
}
button:hover {
  background-color: rgba(255, 255, 255, 0.9);
}
.prev-operand {
  font-size: 3.2rem;
  color: rgba(255, 255, 255, 0.75);
}
.curr-operand {
  font-size: 4.2rem;
  color: aliceblue;
}
